@import 'https://use.typekit.net/bvk2huq.css';

div.navbar {
    font-family: "halogen";
    font-weight: 300;
    font-style: normal;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
div.navbar a {
    color:white;
    margin-left: 70px;
    margin-right: 70px;
    text-decoration: none;
    font-size:15px;

}
.navbar a:hover {
    color: #ffffffcc
}
.pink {
    background: #e5bbc2;
}
h1{
    text-align: center;
    padding: 0px, 0px;
}
h1 a {
    color: black;
    font-family: "lindsey-signature";
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-decoration: none;

}

.greeting {
    column-count: 2;
    column-rule: 2px solid #e5bbc2;
    column-gap: 40px;
    height: 330px;
    border: 2px solid #e5bbc2;
    margin-left: 40px;
    margin-right: 40px;
}
.greeting h1 {
    color: black;
    font-family: "gravesend-sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18;
    margin-top: 10px;
}
.greeting img {
    max-width: 190px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
}
.greeting p {
    color: black;
    font-family: "area-normal";
    font-weight: 100;
    font-size: 14px;
    display: grid;
    place-items: center;
    text-align: left;
    margin-right: 25px;
}
.greeting p:nth-child(0) {
    margin-top: 30px;
}